@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-weight: 300;
}

.container {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1170px, 15px);
}
.centered{
	text-align: center;
	font-size: px-to-rem(32px);
	line-height: px-to-rem(37px);
	font-weight: 300;
	margin-bottom: 24px;
}