.footer__wrap{
    background: $bg_gray;
    padding: 115px 0 40px 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__nav{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    li{
        margin: 5px 25px;
        a{
            color: $black;
            text-decoration: none;
            font-size: px-to-rem(14px);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.footer__hr{
    height: 1px;
    background: $black;
    width: 85%;
    margin-bottom: 40px;
}
.footer_copy{
    font-size: px-to-rem(14px);
    line-height: px-to-rem(20px);
}