.gifts_wrap{
    padding: 95px 0;
}
.gifts{
    >p{
        text-align: center;
        font-size: px-to-rem(18px);
	    line-height: px-to-rem(24px);
        margin-bottom: 64px;
    }
}
.gifts__blocks{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.gifts__items{
    max-width: 270px;
    background: $bg_gray;
    &:hover{
        background: $white;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }
}
.gifts__items-txt{
    padding: 24px;
    h3{
        font-weight: 500;
        font-size: px-to-rem(20px);
	    line-height: px-to-rem(24px);
        margin-bottom: 74px;
    }
    p{
        font-size: px-to-rem(14px);
	    line-height: px-to-rem(19px);
        a{
            color: $black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
@media (max-width:800px){
    .gifts__blocks{
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 2rem;
    }
}